<template name="User_Header">
  <div class="ui top fixed borderless inverted menu">
    <div class="ui container">
      <div class="item"><h1>ThinkUH</h1></div>
      <a class="{{isActiveRoute "Profile_Page"}} item" href="{{pathFor "Profile_Page" username=routeUserName}}">Profile</a>
      <div class="ui dropdown link item">
        <span class="text">Department</span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <!--{{for each department in departments}}-->
          <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">College of Natural Sciences</span>
            <!--<span class="text">{{department}}</span>-->
            <!--{{for each major in department.majors}}-->
            <div class="menu">
              <a class="item" href="{{pathFor "Major_Page" username=routeUserName major="ICS"}}">ICS</a>
              <!--<a class="item" href="{{pathFor "Major_Page" username=routeUserName major=major}}">{{major}}</div>-->
            </div>
          </div>
        </div>
      </div>
      <a class="{{isActiveRoute "Filter_Page"}} item" href="{{pathFor "Filter_Page" username=routeUserName}}">Filter</a>
      <div class="right aligned item">{{> Cas_Login }}</div>
    </div>
  </div>
  <script>
    $('.ui.dropdown')
        .dropdown()
    ;
  </script>
</template>