<template name="User_Header">
  <div class="ui top fixed borderless green inverted menu">
    <div class="ui container">
      <div class="item"><h1>ThinkUH</h1></div>
      <a class="{{isActiveRoute 'Profile_Page'}} item" href="{{pathFor 'Profile_Page' username=routeUserName}}">Profile</a>
      <div class="ui dropdown item">
        <div class="text">Department</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each department in departments}}
          <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">{{department.name}}</span>
            {{#each major in majors}}
              {{#each dmajor in department.majors}}
                {{#if major.name = dmajor}}
                  <div class="menu">
                    <a class="item" href="{{pathFor 'Major_Page' major=major.url}}">{{major.name}}</a>
                  </div>
                {{/if}}
              {{/each}}
            {{/each}}
          </div>
          {{/each}}
        </div>
      </div>
      <a class="{{isActiveRoute 'Filter_Page'}} item" href="{{pathFor 'Filter_Page' username=routeUserName}}">Filter</a>
      <a class="{{isActiveRoute 'Comment_Page'}} item" href="{{pathFor 'Comment_Page'}}">Comment</a>
    </div>
    <div class="right aligned item">{{> Cas_Login }}</div>
  </div>
  <script>
    $('.ui.dropdown')
      .dropdown({
        action: 'hide'
      })
    ;
  </script>
</template>
